:host{
    display: flex;
    justify-content: center;
    padding: 10em 0;
  

    background: url('/assets/images/cabecera.jpg') no-repeat center;
    position: relative;
    min-height: 400px;


    form {
        background-color: #BDBBB0;
        padding: 2em;
    
        display: flex;
        flex-direction: column;
    
        label {
          display: block;
        }
    }
    
}