<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>

  <p class="h4 mb-4">Sign up</p>


  <div class="field">
    <label>Login</label>
    <input class="dark-selector" type="text" formControlName="login">
  </div>
  <div class="field">
    <label>Username</label>
    <input class="dark-selector" type="text" formControlName="name">
  </div>
  <div class="field">
    <label>Password</label>
    <input class="dark-selector" type="password" formControlName="password">
  </div>



  <div class="button-container">
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  </div>

</form>