:host{
  display: flex;
  justify-content: center;
  padding: 10em 0;
  margin: 4em 0;

  background: url(~/assets/images/fondo.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 400px;

  form {
    background-color: #212124f5;
    padding: 2em;

    display: flex;
    flex-direction: column;

    label {
      display: block;
    }

    .button-container{
      display: flex;
      justify-content: center;
      margin-top: auto;
    }

    .dark-selector {
      color: #cccccc;
      border: 1px #000000 solid;
      background: #333333;
      box-shadow: 0 1px 2px #000 inset;
      width: 100%;
    }
  }
}