<!-- Header -->
<div id="header-wrapper">

  <div id="header" class="container">

    <div id="logo">
      <h1><a href="#">MegaCorp</a></h1>
    </div>
    <nav id="nav">
      <ul>
        <li class="current_page_item"><a href="index.html">Homepage</a></li>
        <li><a href="twocolumn1.html">Right Sidebar</a></li>
        <li><a href="twocolumn2.html">Left Sidebar</a></li>
        <li><a href="onecolumn.html">No Sidebar</a></li>
      </ul>
    </nav>

  </div>

  <div id="banner">
    <div class="container">
      <div class="row">
        <section class="12u">
          <header>
            <h2>Alvaro Feeder</h2>
            <span class="byline">Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante
              ut risus. Quisque dictum. Integer nisl risus, sagittis rutrum id, elementum congue. Suspendisse dictum
              porta lectus.</span>
          </header>
          <a routerLink="/create-competition" class="button button-alt">Create Competition</a>
        </section>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>


<!-- Copyright -->
<div id="copyright" class="container">
  Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
    href="http://unsplash.com/cc0">CC0</a>)
</div>
