:host{
    background-color: var(--primary-color-4);
    padding: 15px;
}



.header-wrapper{
    display: inline-flex;

    width: 100%;


    .logo h1 a{
        color: white;
        text-decoration: none;
    }

    .banner{
        flex-grow: 1;
        margin: auto;
        text-align: center;
    }

}