:host{
    margin-bottom: 3em;
    position: relative;

    .header-wrapper{
        display:inline-flex;
        background-color: #474849;
        width: 100%;

        .banner{
            overflow: hidden;
            text-align: center;
            z-index: 1;
            position: relative;
            font-size: 3em;

            .byline{
                padding: 0em 5em;
                font-size: 1.50em;
            }
        }
    }
}