.visual-container{
  display: block;
  .button-container{
    justify-content: center;
    display: grid;
    margin: 1em 0em;
    color: black;
  }
  .icon{
    width: 10px;
    height: 10px;
  }
 .icon-plus{
  fill: #ffffff;

  }
}
