<div class="visual-container">
  <div class="visual-column">
    <div class="button-container">
      <label>Normal</label>
      <button class="game-button dark">Sign Up</button>
    </div>
    <div class="button-container">
      <label>Hover</label>
      <button class="game-button dark hover">Sign Up</button>
    </div>
    <div class="button-container">
      <label>Active</label>
      <button class="game-button dark active">Sign Up</button>
    </div>
    <div class="button-container">
      <label>Disabled</label>
      <button class="game-button dark disabled">Sign Up</button>
    </div>
  </div>
  <div class="visual-column">
    <div class="button-container-row">
      <button class="game-button game-icon light">
        <img class="icon" src="\assets\icons\plus.svg" />
      </button>
    </div>
    <div class="button-container-row">
      <button class="game-button game-icon light">
        <img class="icon" src="\assets\icons\trash-can.svg" />
      </button>
    </div> 
    <div class="button-container-row">
      <button class="game-button game-icon light">
        <img class="icon" src="\assets\icons\email.svg" />
      </button>
    </div>
    <div class="button-container-row">
      <button class="game-button game-icon light">
        <img class="icon" src="\assets\icons\settings.svg" />
      </button>
    </div>
  </div>
</div>