<div class="visual-container">
  <div class="button-container">
    <label>Normal</label>
    <button class="game-button">Sign Up</button>
  </div>
  <div class="button-container">
    <label>Hover</label>
    <button class="game-button hover">Sign Up</button>
  </div>
  <div class="button-container">
    <label>Active</label>
    <button class="game-button active">Sign Up</button>
  </div>
  <div class="button-container">
    <label>Disabled</label>
    <button class="game-button disabled">Sign Up</button>
  </div>
</div>
<div class="visual-container">
<button class="game-icon">
    <img class="icon" src="\assets\icons\plus.svg" />
  </button>
</div>