.visual-container{
  display: flex;
  .visual-column{
    flex: 50%;
    .button-container{
      justify-content: center;
      display: grid;
      margin: 1em 0em;
      color: black;
    }
    .button-container-row{
      display: inline-block;
      margin: 1em 1em;
      color: black;
    }

  }
}

